.movies-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 0 4rem;
}
@media (min-width: 960px) {
  .movies-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 5rem;
  }
}

@media (min-width: 1440px) {
  .movies-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 0 10rem;
  }
}
